.places {
  background-color: white;
  display: flex;
  flex-wrap:wrap;
  justify-items: center;
  justify-content: center;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
}
.places h1 {
  grid-column-start: span 2;
  width: 100%;
  font-size: 30px;
  margin-left: 20px;
}
.places article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #FF5A5F;
  border-radius: 4px;
  display: flex;
  justify-content:center;
  justify-self: center;
}
.places article h2 {
  font-size:30px;
  display:flex;
  justify-content:center;
}
